/* src/index.css */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

#root {
  padding: 20px;
}

.app-container {
    display: flex;
    min-height: 100vh;
    background-color: #f0f2f5;
}

.sidebar {
    width: 250px;
    background-color: #4f46e5; /* Il colore blu che usi */
    color: white;
    padding: 20px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}